<a href="https://colab.research.google.com/github/RinaParikh/Ensemble-methods/blob/master/Compare_decisiontree_RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.tree     import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [5]:
other_path = "https://archive.ics.uci.edu/ml/machine-learning-databases/ionosphere/ionosphere.data"
df = pd.read_csv(other_path, header=None)
print("The first 5 rows of the dataframe") 
df.head(10)

The first 5 rows of the dataframe

   0   1        2        3        4   ...       30       31       32       33  34
0   1   0  0.99539 -0.05889  0.85243  ...  0.42267 -0.54487  0.18641 -0.45300   g
1   1   0  1.00000 -0.18829  0.93035  ... -0.16626 -0.06288 -0.13738 -0.02447   b
2   1   0  1.00000 -0.03365  1.00000  ...  0.60436 -0.24180  0.56045 -0.38238   g
3   1   0  1.00000 -0.45161  1.00000  ...  0.25682  1.00000 -0.32382  1.00000   b
4   1   0  1.00000 -0.02401  0.94140  ... -0.05707 -0.59573 -0.04608 -0.65697   g
5   1   0  0.02337 -0.00592 -0.09924  ...  0.00000  0.00000 -0.00039  0.12011   b
6   1   0  0.97588 -0.10602  0.94601  ... -0.04262 -0.81318 -0.13832 -0.80975   g
7   0   0  0.00000  0.00000  0.00000  ...  1.00000  1.00000  0.00000  0.00000   b
8   1   0  0.96355 -0.07198  1.00000  ...  0.45114 -0.72779  0.38895 -0.73420   g
9   1   0 -0.01864 -0.08459  0.00000  ...  0.16595  0.24086 -0.08208  0.38065   b

[10 rows x 35 columns]

for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

In [0]:
#df.drop(df.head(0).index,inplace=True)

In [0]:
X= df.drop([34],axis=1)
y = df[34]

In [9]:
print(len(X))
print(len(y))

351
351

In [0]:
# Create our test/train split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [0]:
## build our models
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier(n_estimators=100)

In [12]:
## Train the classifiers
decision_tree.fit(X_train, y_train)
random_forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
# Create Predictions
dt_pred = decision_tree.predict(X_test)
rf_pred = random_forest.predict(X_test)

In [14]:
# Check the performance of each model
print('Decision Tree Model')
print(classification_report(y_test, dt_pred))

Decision Tree Model
              precision    recall  f1-score   support

           b       0.87      0.81      0.84        32
           g       0.90      0.93      0.91        56

    accuracy                           0.89        88
   macro avg       0.88      0.87      0.88        88
weighted avg       0.89      0.89      0.89        88

In [15]:
print('Random Forest Model')
print(classification_report(y_test, rf_pred))

Random Forest Model
              precision    recall  f1-score   support

           b       0.97      0.88      0.92        32
           g       0.93      0.98      0.96        56

    accuracy                           0.94        88
   macro avg       0.95      0.93      0.94        88
weighted avg       0.94      0.94      0.94        88

In [16]:
#Graph our confusion matrix
dt_cm = confusion_matrix(y_test, dt_pred)
rf_cm = confusion_matrix(y_test, rf_pred)
print(dt_cm)
print(rf_cm)

[[26  6]
 [ 4 52]]
[[28  4]
 [ 1 55]]